# maven 项目的输出
target/

# idea 本身的配置文件
.idea/
*.iml

# 日志，测试，编译后的类文件
logs/
*.log
test/
.class

# 忽略 word 的临时文件
~$_Java工程师_王凯_13939621143.docx

阿里巴巴Java开发手册（纪念版）.pdf

#忽略用户的头像
/statics/foreground/image/user