<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.interview.dao.TopicMapper">
  <select id="listByTitle" resultType="com.interview.entity.Topic">
    select *
    from topic
    WHERE 1 = 1
    <if test="title != null">
      AND title LIKE concat('%', #{title}, '%')
    </if>
  </select>
  <!--此处的 order by rand() 正是为了获取随机的题目，排序规则为随机的话，前面指定数量的题目也就算是随机的了-->
  <select id="listByRandom" resultType="com.interview.entity.Topic">
    SELECT
      id,
      typeId,
      title
    FROM topic
    ORDER BY rand()
    LIMIT #{topicNumber}
  </select>
</mapper>